<form (ngSubmit)="calcularInvestimento()">
    <label>Valor Inicial:</label>
    <input type="number" [(ngModel)]="valorInicial" name="valorInicial" required>
  
    <label>Prazo (Meses):</label>
    <input type="number" [(ngModel)]="prazoMeses" name="prazoMeses" required>
  
    <button type="submit">Calcular CDB</button>
  </form>
    
<hr />
<br>

  <div *ngIf="resultado">
    <h2>Resultado do CDB</h2>
    <p><strong>Valor Bruto:</strong> {{ resultado?.valorBruto | currency:'BRL' }}</p>
    <p><strong>Valor Líquido:</strong> {{ resultado?.valorLiquido | currency:'BRL' }}</p>
  </div>
